<div class="container">
  <header class="main-header">
    <div id="logo">
      <a href="{{ site.baseurl }}/">
        <img src="https://pbs.twimg.com/profile_images/572076793079664640/gz4KhtuS_400x400.jpeg" class="avatar" alt="">
        <h1 class="my-title">{{ site.title }}</h1>
      </a>
    </div>
    <nav>
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
      </div>
    </nav>
  </header>
</div>