<aside class="sidebar">
  <div class="side-box">
    <h3>About</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium necessitatibus cum consequatur deserunt ipsam quis magni inventore nam aut debitis? Quam quia eaque, soluta natus atque quo laboriosam molestias vel.</p>
  </div>

  <div class="side-box">
    <h3>Recent Posts</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium necessitatibus cum consequatur deserunt ipsam quis magni inventore nam aut debitis? Quam quia eaque, soluta natus atque quo laboriosam molestias vel.</p>
  </div>
</aside>